.hebergements__container {
  max-width: var(--maxWidthContainer);
  display: flex;
  flex-direction: row;
  padding: 65px 0 40px 0;
}
.hebergements__box {
  display: flex;
  flex-direction: column;
}
.popular__box {
  display: flex;
  flex-direction: column;
}



/*------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------*/
