.activites__container {
  max-width: var(--maxWidthContainer);
  display: flex;
  flex-direction: column;
  padding: 36px 0 70px 0;
}
.activites__title {
  font-size: var(--fontSizeSubTitle);
  font-weight: 700;
  margin-bottom: 26px;
}
.activites__item-title {
  font-weight: 800;
  padding: 20px 0 20px 18px;
}
.activites__list {
  font-size: var(--fontSizeSmallTitle);
  display: flex;
  flex-direction: column;
  max-height: 492px;
  flex-wrap: wrap;
  column-gap: 42px;
  row-gap: 20px;
}
.activites__list>* {
  flex: 1 1 25%;
}
.activites__item {
  max-height: 445px;
  max-width: 302px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--greyColor);
  box-shadow: 0px 0px 15px var(--shadowColor);
  border-radius: 20px;
}
._item__big {
  max-height: 445px;
}
._item__small {
  max-height: 216px;
}
.activit__image__medium {
  height: 389px;
  max-width: 302px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.activit__image__small {
  max-height: 170px;
  max-width: 302px;
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
/*------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 1352px) {
  .activites__list {
    column-gap: 20px;
    max-height: 700px;
  }
  .activites__list>* {
    flex: 1 1 33%;
  }
}
@media (max-width: 992px) {
  .activites__container {
    padding: 25px 0 45px 0;
  }
  .activites__list {
    max-height: 940px;
  }
  .activites__list>* {
    flex: 1 1 50%;
  }
  .activites__title {
    margin: 26px auto;
  }
}
@media (max-width: 768px) {
  .activites__container {
    padding: 4px 0 45px 0;
  }
  .activites__title {
    margin: 26px 0;
  }
  .activites__list {
    max-height: 740px;
    gap: 20px;
    width: 100%;
    align-content: stretch;
    justify-content: stretch;
  }
  .activites__list>* {
    flex: 1 1 100%;
    width: 100%;
  }
  .activites__item {
    width: 100%;
  }
  .activit__image__medium {
    max-width: none;
    height: 190px;
  }
  .activit__image__small {
    max-width: none;
    height: 190px;
  }
}
@media (max-width: 654px) {
  .activites__list {
    max-height: none;
  }
  .activites__item {
    max-width: none;
  }
  ._item__small {
    max-height: none;
  }
}