.header {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  height: 130px;
}
.header__content {
  max-width: 1340px;
  max-height: 130px;
}
.header-menu{
	padding: 16px 0;
  align-items: center;
  display: flex;
  justify-content: flex-end;		
}
.header__logo {
  flex: 1 1 auto;
  height: 42px;
  width: 90px;
  display: flex;
}
.header__logo:hover {
  opacity: 0.5;
}
.menu-list {
	font-size: 16px;	
  max-width: 96%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
  padding-left: 20px;
}
.menu-link__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
}
.menu__link {
  color: var(--mainColor);
  padding: 48px 20px;
}
.menu__link:hover {
  color: var(--darkColor);
  transition: color 0.3s ease 0s;
  border-top: 3px solid var(--darkColor);
}
.menu__link._active {
  color: var(--darkColor);
}
/*------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 480px) {
  .header__content {
    margin: 0 -20px;
  }
  .menu-list {
    flex-direction: column;
		justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0 0 0;
    gap: 10px;
  }
  .menu__link {
    padding: 20px;  
    flex: 1 1 auto;
    justify-content: center;
    display: flex; 
  }
  .menu__link:hover {
    color: var(--darkColor);
    border-bottom: 3px solid var(--darkColor);
    border-top: none;
  }
  .menu-link__container 
  {
    border-bottom: 3px solid var(--greyColor);  
  }
}
@media (max-width: 768px) {
  .header-menu {
    height: 44px;			
	}
}
