.rating {
	height: 14px;
  margin: 6px 0;
}
.rating__item {
  width: 14px;
  height: 14px;
}
.rating__item__active {
  width: 14px;
  height: 14px;
}
.rating__item__active:hover,
.rating__item:hover {
	height: 14px;
  transition: color 0.3s ease 0s;
}