@import url("null.css");
@import url("header.css");
@import url("footer.css");
@import url("rating.css");
@import url("search.css");
@import url("hebergements.css");
@import url("activites.css");

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
  font-style: normal;
}	
@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.ttf') format('truetype');
	font-weight: bold;
  font-style: normal;
}	
/*VARIABLES============================================*/
:root {
  --maxWidthContainer: 1340px;

  --mainColor: #000;
  --darkColor: #0065FC;
  --lightColor: #DEEBFF;
  --greyColor: #F2F2F2;
	--whiteColor: #FFFFFF;
	--shadowColor: #a4a3a3;

	--fontSize: 16px;
	--fontSizeTitle: 21px;
	--fontSizeSubTitle: 18px;
	--fontSizeSmallTitle: 15px;
	--fontSizeSmall: 14px;
}
/*VARIABLES============================================*/

/*PAGE SETTINGS========================================*/
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	font-family: 'Raleway';
	font-weight: 200;
}
._container {
	max-width: var(--maxWidthContainer);
	margin: 0 50px;
}
@media (max-width: 992px) {
	._container {
		margin: 0 30px;
	}
}
@media (max-width: 768px) {
	._container {
		margin: 0 20px;
	}
}
.page {
	flex: 1 1 auto;
}
/*PAGE SETTINGS=======================================*/

/*COMMON==============================================*/
img {
	width: 100%;
	height: 100%;
}
img:hover {
  opacity: 0.5;
}
.button {
	display: inline-flex;
	padding: 0px 0px;
}
.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 20px;
}
input::placeholder {
	color: var(--mainColor);
	opacity: 1;
}
input:focus::placeholder {
  color: transparent;
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}
._link {
	color: var(--mainColor);
	transition: color 0.3s ease 0s;
}
._link:hover {
	color: var(--darkColor);
	cursor: pointer;
}

/*COMMON==============================================*/
._title {
	font-size: var(--fontSizeTitle);
	font-weight: 600;
}
._svg {
	height: 18px;
}
